 #sectionImage {
    display:grid;
     grid-template-columns: repeat(200, 1fr);
     grid-template-rows: repeat(20,1fr);
     grid-auto-rows: minmax(0, 1fr);

 }

 #conference {
     grid-column: 1 / 74;
     grid-row: 1 / 8;
 }

 #securite {
     grid-column: 111 / 162;
     grid-row: 1 / 8;
 }

 #serveurs {
     grid-column: 163 / 200;
     grid-row: 1 / 8;
 }

 #Reception {
     grid-column: 1 / 74;
     grid-row: 8 / 21;
 }

 #personnel {
     grid-column: 112 / 162;
     grid-row: 14 / 21;
 }

 #archives {
     grid-column: 163 / 200;
     grid-row: 14 / 21;
 }
/* ---------- Tablet  ---------- */
@media (max-width: 1024px) {
    #sectionImage {
        grid-template-columns: repeat(12, 1fr); 
        grid-auto-rows: 40px;
    }

    #conference {
         grid-column: 1 / 5; grid-row: 1 / 6;
         }
    #securite { 
        grid-column: 8 / 12; grid-row: 1 / 6; 
    }
    #serveurs { 
        grid-column: 12 / 13; grid-row: 1 / 6; 
    }
    #Reception {
         grid-column: 1 / 5; grid-row: 6 / 15; 
        }
    #personnel {
         grid-column: 8 / 13; grid-row: 10 / 15; 
        }
    #archives {
         grid-column: 12 / 13; grid-row: 10 / 15; 
        }
}
/* ---------- Mobile ---------- */
@media (max-width: 412px) {
    #sectionImage {
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: 20px; 
    }

    #conference {
         grid-column: 1 / 5; grid-row: 1 / 5; 
        }
    #securite {
         grid-column: 8 / 11; grid-row: 1 / 5; 
        }
    #serveurs {
         grid-column: 11 / 13; grid-row: 1 / 5;
         }
    #Reception {
         grid-column: 1 / 5; grid-row: 5 / 13; 
    }
    #personnel {
         grid-column: 8 / 11; grid-row: 9 / 13;
         }
    #archives { 
        grid-column: 11 / 13; grid-row: 9 / 13;
     }
}

